
<div class="row">
  <div class="container d-flex mx-auto d-block">
      <img  src="./assets/img/fondo.png" alt="imagen">
  </div>


  <div class="container d-flex mt-4">
    <div class="container col-5  border border-info rounded px-4 mx-3 mb-2">
      <h3> Espacio de informacion del post</h3>
      <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit.
         Ut in dui et orci pretium aliquet. Vestibulum posuere erat tortor,
         id lacinia libero cursus ac. Maecenas volutpat mattis dapibus.
         Curabitur felis tellus, finibus eu risus maximus, cursus lacinia mauris.
         Nunc aliquet massa quis magna feugiat, ac lobortis lacus tempus.
        Aliquam imperdiet quam vitae semper posuere. Pellentesque diam lectus,
        consectetur eu arcu at, bibendum cursus enim.</p>
          <button class="btn btn-info my-2" type="button" name="leer">Leer mas...</button>
    </div>
    <div class="container col-5 border border-info rounded px-4 mx-3 mb-2">
      <h3> Espacio de informacion del post</h3>
      <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit.
         Ut in dui et orci pretium aliquet. Vestibulum posuere erat tortor,
         id lacinia libero cursus ac. Maecenas volutpat mattis dapibus.
         Curabitur felis tellus, finibus eu risus maximus, cursus lacinia mauris.
         Nunc aliquet massa quis magna feugiat, ac lobortis lacus tempus.
        Aliquam imperdiet quam vitae semper posuere. Pellentesque diam lectus,
        consectetur eu arcu at, bibendum cursus enim.</p>
        <button class="btn btn-info my-2" type="button" name="leer">Leer mas...</button>
    </div>
  
  </div>

</div>
